<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net472" />
  <package id="Dragablz" version="0.0.3.223" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="Google.Apis" version="1.55.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.55.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.55.0" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.55.0.2371" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.3" targetFramework="net472" />
  <package id="MaterialDesignExtensions" version="3.3.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.2.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net472" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
  <package id="Twilio" version="5.68.1" targetFramework="net472" />
</packages>